@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#000000;
    --light-color:#666;
    --white:#ffffff;
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    /* margin:0; padding:0; */
    box-sizing: border-box;
    outline: none; border:none;
    /* transition: all .2s linear; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
    height: 100vh;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    /* z-index: 1000; */
    display: flex;
    align-items: center;
    text-align: center;
    padding:2rem 2%;
    background:#fff;
}

.header .menu .logo{
    font-size: 4.5rem;
    align-items: center;
    text-align: center;
    /* align-items: baseline;
    flex-wrap: nowrap; */
}

.header .menu .logo a{
    text-decoration: none;
    color: #000000;
}

.home{
    margin-top: 15rem;
    height: 35rem;
    font-size: 8rem;
    text-align: center;
}

.text{
    font-size: 6.5rem;
    color: rgb(0, 0, 0);
}

.text_day{
    color: rgb(141, 0, 0);
}